.App{
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home{
  width: 100vw;
}

.navbar{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(44, 53, 87);
  color: white;
  padding: 0px 20px;
  font-size: .7rem;
  z-index: 100;
}

.navbar_content_block{
  display: flex;
  cursor: pointer;
}

.navbar_content_block:nth-child(1) > h1{
  font-size: 1.6rem;
}

.map-icon{
  color: rgb(77, 146, 77);
  margin-right: 5px;
}

.navbar span:nth-child(1){
  color: rgb(217, 217, 78);
}

.navbar span:nth-child(2){
  color: rgb(255, 112, 99);
}

.navbar span:nth-child(3){
  color: rgb(106, 133, 223);
}

#header__bar {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 120px;
  width: 100%;
  color: white;
  background-color: rgb(245, 148, 21);
  transition: 0.5s ease all;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__bar__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.header__bar__icons {
  color: white;
}

#header__bar img {
  height: 30px;
  width: 30px;
  margin: 0px 10px;
}

.home{
  display: flex;
  height: 100%;
}

.sidebar{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 10px;
  box-shadow: .1px 0px 5px 1px rgb(99, 78, 51);
  margin-right: 2px;
}

.sidebar .location_block{
  display: flex;
}

.sidebar .location{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.sidebar .source-icon{
  color: green;
}

.sidebar .destination-icon{
  color:red;
}

.sidebar .more-icon{
  color: grey;
}

.sidebar .swap-icon{
  font-size:xx-large;
}

.sidebar #swap-button{
  margin: 85px 10px;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar input{
  border: none;
  outline: none;
  font-size: .9rem;
}

.sidebar .location-search{
  padding: 8px 10px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.map-container{
  flex: 5;
  padding: 15px;
  position: relative;
}

.map .map-row{
  display: flex;
}

.map .block{
  margin-right: -10px;
  margin-bottom: 1px;
  width: 15px;
  height: 15px;
  font-size: .9rem;
  text-align: center;
  z-index: -1;
}

.button{
  border: none;
  background-color: rgb(102, 187, 140);
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  transition: .1s ease all;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
  width: 100%;
  margin: 3px;
}

.button-group{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.button-group .button:nth-child(1){
  background-color: rgb(234, 131, 131);
}

.button-group .button:nth-child(1):hover{
  background-color: rgb(244, 93, 93);
}

.stops{
  display: flex;
  align-items: center;
  justify-content: center;
}

.stop-button{
  padding: 5px 10px;
  font-size: .9rem;
  width: 60px;
}

.stops-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 20px 20px;
}

.stops-input{
  width: 70px;
  margin: 0px 4px;
  border-bottom: 1px solid grey;
  padding-left: 5px;
  font-size: 1.2rem;
}

.button:hover{
  background-color: rgb(60, 153, 60);
}

.direction-button{
  padding: 8px 10px;
  font-size: 1rem;
  border: 2px solid lightgrey;
  margin: 10px 10px;
  font-weight: bold;
  width: 200px;
  border-radius: 10px;
  color: rgb(30, 130, 224);
  background-color: white;
  transition: .1s ease all;
}

.direction-button:hover{
  background-color: rgb(86, 162, 233);
  border: 2px solid rgb(86, 162, 233);
  color: white;
}

.navigation-button{
  width: 90%;
  background-color: rgb(95, 165, 231);
  margin: 10px 0px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 80px;
}

.navigation-button:hover{
  background-color: rgb(36, 131, 221);
}

.disable-button, .disable-button:hover{
  background-color: #cccccc !important;
}

.disable-direction-button{
  color: grey;
}

.disable-direction-button:hover{
  background-color: white;
  border-color: lightgrey;
  color: grey;
}

#navigation-icon{
  color: blue;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 200%;
  display: none;
  transition: .2s linear all;
}

.alert-block{
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.loading{
  margin-top: 10px;
}
